@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto","Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    --main-color: #ffffff;
    --text-color: #000000;
    background-color: var(--main-color);
    color: var(--text-color);
}

.dark-mode {
    --main-color: #000000;
    --text-color: #ffffff;
    background-color: var(--main-color);
    color: var(--text-color);
}

.header{
    width: 100%;
    height: 100vh;
    background: var(--main-color);
    background-size: cover;
    background-position: center;
    color:var(--text-color);
}
.header .logo{
    color: rgb(255, 0, 79);
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 600;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-section{
    flex-basis: 50%;
}
.header-text{
    flex-basis: 50%;
}

.brdr {
    margin-left: 100px;
    width: 400px;
    height: 400px;
    background-color: #ff004f;
    position: absolute;
    border-radius: 86% 14% 42% 58% / 53% 10% 90% 47%;
    transition: bottom 1s, transform 1s; 
}

.right-section:hover .brdr {
    background-color: #d3cbcd;
    transform: translateY(1%); 
}
.right-section{
    position: relative;
    padding-top: 20%;
    right: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.right-section img{
    align-self: center;
    width: 350px;
    position: absolute;
    left: 57%;
    transform: translateX(-50%);
    transition: bottom 1s , left 1s;
    z-index: 999;

}

.right-section:hover img{
    left: 52%;
}
.container{
    padding: 10px 10%;
}
/* start-header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color:var(--text-color);
    font-size: 16px;
    position: relative;
}
nav ul li a::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -8px;
    background-color: rgb(189, 40, 13);
    transition: .3s;
}
nav ul li a:hover:after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
/* end-header */
/* start-about */
.about{
    padding: 80px 0;
}
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
 .about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
 .about-col-2{
    flex-basis: 60%;
}
 .sub-title{
    font-size: 60px;
    font-weight: 600;
}
.tap-title{
    display: flex;
    margin: 20px 0 40px;
}
.tap-links{
    margin-right: 50px;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}
.tap-links::after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -8px;
    background-color: rgb(189, 40, 13);;
    transition: .3s;
}
.tap-links.active-link::after{
    width: 50%;
}

.tap-contants ul li{
    list-style: none;
    margin:10px 0; 
    font-size: 14px;
    line-height: 1.1rem;
}
.tap-contants ul li img{
    width: 50px;
    margin-right: 5px;
}

.tap-contants ul li span{
    color: rgb(189, 40, 13);
    font-size: 16px;
    font-weight: 600;
    /* font-size: 14px; */
}

.tap-contants{
    display: none;
}
.tap-contants.active-tap{
    display: block;
}
/* end-about */
/* start-services */
.services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
    margin-top: 50px;
}
.service-box{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    color:#ffffff;
    transition:  .5s , transform .5s;
}
.services-list .service-box i{
    font-size: 50px;
    margin-bottom:  30px;
}
 .service-box h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
 .service-box a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    color:#ffffff
}
.service-box:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* end-services */
/* start-potfolio */
.portfolio{
    padding: 30px 0;
}
.portfolio .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
    margin-top: 50px;
}
 .work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height:100%;
    border-radius: 10px; 
    display: block;
    transition: .5s;

}
 .work .layer{
    width: 100%;
    height: 0;
    border-radius: 10px;
    background: linear-gradient(rgb(0,0,0,0.6),#ff004f);
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition:height .5s;
}
 .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    background: #fff;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center; 
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
} 
.btn{
    color:var(--text-color);
    width: fit-content;
    display: block;
    margin: 50px auto;
    border: 1px solid #ff004f;
    border-radius: 6px;
    padding: 14px 50px;
    text-decoration: none;
    transition: .5s;
}
.btn:hover{
    background: #ff004f;
}

/* end-potfolio */

/* start-contact */
    .contact-left{
        flex-basis: 35%;
    }
    .contact-right{
        flex-basis: 60%;
    }
    .contact-left p{
        margin-top: 30px;
    }
    .contact-left p i{
        margin-right: 15px;
        font-size: 25px;
        color: #ff004f;
    }
    .social-icons {
        margin-top: 30px;
    }
    .social-icons a{
        text-decoration: none;
        margin-right: 15px;
        font-size: 30px;
        color: #ababab;
        display:  inline-block;
        transition: .5s;
    }
    .social-icons a:hover{
        color: #ff004f;
        transform: translateY(-5px);
    }
    .btn.btn2{
        display: inline-block;
        background-color:  #ff004f;
    }
    .contact-right form{
        width: 100%;
    }
    form input ,form textarea{
        width: 100%;
        outline: none;
        border: 0;
        background-color:  #262626;
        padding: 15px;
        margin: 15px 0;
        color:#ffffff;
        font-size: 18px;
        border-radius: 10px;
    }
    form .btn2{
        padding: 14px 60px;
        font-size: 18px;
        margin-top: 20px;
        cursor: pointer;
    }
    .copyright{
        width: 100%;
        text-align: center;
        padding: 25px 0;
        background-color: #262626;
        font-weight: 300;
        margin-top: 20px;
        color: #fff;
    }
    .copyright i{
        color: #ff004f;
    }
/* end-contact */
nav .fas{
    display: none;
}






/* Medium */
@media (max-width: 992px) {
    .right-section{
        margin-left: 30px;
       

    }
    .right-section img{
       width: 250px;
       margin-left: 20px;

    }
    .brdr{
        width: 300px;
        height: 300px;
        
    }
}

@media only screen and (max-width:600px){
  
    .right-section{
        margin-left: 40%;
        margin-top: 25%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-section img{
       width: 200px;
       margin-left: 50px;
       position: absolute;
    }
    
    .brdr{
        position: absolute;
        width: 200px;
        height: 200px;       
    }
    /* .header{
        height: 80vh;
    }
     */
    .header-text{
        margin-top: 70%;
        font-size: 16px;
        z-index: 99 ;
    }
    .header-text p{
       display: none;
    }
   
    .header-text h1{
        font-size: 30px;
        /* margin-bottom: 50px; */
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 999999;
        transition: .5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    } 
    .ui-switch{
        /* margin-left: 60%; */
        right: 70px;
        margin-right: 10px;
        position: absolute;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .about {
        padding: 0;
    }
}
#msg{
    color: #61b725;
    margin-top: -40px;
    display: block;
}




/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }